<mat-card>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field class="form-group">
      <mat-label>New Password</mat-label>
      <input matInput id="newPassword" type="password" formControlName="newPassword" class="form-input" />
      <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="form-error">
        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</small>
        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
        <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Password must contain at least one uppercase letter and one number.</small>
      </div>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid" class="form-button">Reset Password</button>
    <div *ngIf="message" class="form-message">{{ message }}</div>
  </form>
</mat-card>
