<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-group">
    <label for="newPassword" class="form-label">New Password:</label>
    <input id="newPassword" type="password" formControlName="newPassword" class="form-input" />
    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="form-error">
      <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Password is required.</small>
      <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
      <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Password must contain at least one uppercase letter and one number.</small>
    </div>
  </div>
  <button type="submit" [disabled]="resetPasswordForm.invalid" class="form-button">Reset Password</button>
  <div *ngIf="message" class="form-message">{{ message }}</div>
</form>
